* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1194px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.logo__image {
  width: 128px;
}

.search__form {
  margin-left: 76px;
  background: rgba(238, 238, 238, 0.71);
  border-radius: 10px;
  display: flex;
  max-width: 620px;
  flex-grow: 1;
  position: relative;
}

.search__input {
  background-color: transparent;
  border: none;
  width: 100%;
  padding: 13px 50px 13px 20px;
}

.search__button {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  padding: 0 18px;
  cursor: pointer;
}

.auth {
  margin-left: auto;
}

.login {
  background: #ebebeb;
  border-radius: 50px;
  padding: 16px 30px;
  display: block;
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

.shopping__cart {
  position: relative;
  width: 49px;
  height: 49px;
  background: #f66a15;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
  text-decoration: none;
}

.shopping__counter {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 18px;
  height: 18px;
  background: #ffaf19;
  color: #000;
  font-size: 8px;
  border-radius: 50%;
  display: block;
  padding: 5px;
}

.slide {
  border-radius: 20px;
  min-width: 400px;
  display: flex;
  align-items: center;
  padding: 100px;
}

.slide__text-light {
  background-color: gray;
  color: #fff;
}

.slide__summer {
  background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.43) 40.45%,
      rgba(0, 0, 0, 0) 100%
    ),
    url("../img/summer.png") no-repeat center / cover;
}

.slide__content {
  max-width: 400px;
}

.slide__title {
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 50px;
  line-height: 51px;
}

.slide__text {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
}

.button {
  border-radius: 25px;
  padding: 12px 60px;
  display: inline-block;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
}

.button__primary {
  background: #f47322;
  color: #fff;
}

.button__default {
  background-color: #fff;
  color: #5f5f61;
}

.promo {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
  margin: -20px;
}

.card {
  flex: 50%;
  margin: 20px;
  border-radius: 20px;
  padding: 32px;
  max-width: 570px;
  min-height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #000;
}

.card__text-light {
  color: #fff;
}

.card__sweet-basket {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../img/sweet-basket.png") no-repeat center / cover;
}

.card__minimum {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../img/minimum.png") no-repeat center / cover;
}

.card__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 23px;
  margin-top: 4px;
  margin-bottom: 21px;
}

.card__description {
  max-width: 168px;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
}

.card__price {
  display: block;
  font-weight: 500;
  font-size: 24px;
  line-height: 23px;
  margin-bottom: 8px;
}

.card__delivery {
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 25px;
  display: block;
}

.delivery__week {
  padding: 100px 0px;
}

.section__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 23px;
  margin-top: 0;
  margin-bottom: 47px;
}

.delivery__cards {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.delivery__card {
  margin: 15px;
  position: relative;
  width: 275px;
  height: 182px;
  border-radius: 18px;
  overflow: hidden;
}

.delivery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.delivery__tag {
  position: absolute;
  left: 10px;
  top: 16px;
  border-radius: 30px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  padding: 5px 10px;
  color: #ffffff;
}

.tag__health {
  background: #d0fd89;
  color: #49494f;
}

.tag__vegetables {
  background: #aebc41;
}

.tag__meat {
  background: #b86b78;
}

.tag__bird {
  background: #d68334;
}

.tag__fish {
  background: #cd6255;
}

.tag__children {
  background: #fffdbf;
  color: #49494f;
}

.tag__parents {
  background: #f6fdc8;
  color: #49494f;
}

.tag__celebrate {
  background: #fef7fe;
  color: #49494f;
}

.section__grey {
  background: #f6f6f6;
}

.category {
  padding: 40px 0 60px;
}

.tabs {
  display: flex;
  margin: 0;
  margin-bottom: 62px;
  padding: 0;
  list-style: none;
}

.tabs__link {
  font-size: 20px;
  line-height: 23px;
  color: #49494f;
  text-decoration: none;
  margin-right: 58px;
}

.tabs__link.active {
  color: #f37321;
}

.tab__content {
  display: flex;
  margin: -15px;
}

.tabs__card {
  max-width: 270px;
  border-radius: 20px;
  overflow: hidden;
  background-color: #fff;
  margin: 15px;
}

.tabs__image {
  max-width: 100%;
}

.tabs__card-content {
  padding: 23px;
}

.tabs__title {
  margin-top: 0;
  margin-bottom: 13px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
}

.tabs__description {
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  color: #b9b9be;
}

.tabs__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tabs__price {
  font-weight: 500;
  font-size: 23px;
  line-height: 23px;
  color: #4b4b51;
  display: block;
  margin-bottom: 5px;
}

.tabs__weight {
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #aaaab1;
}

.button__outline {
  cursor: pointer;
  background-color: transparent;
  padding: 15px 25px;
  border: 2px solid #f37321;
  border-radius: 33px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #f37321;
}

.button-center {
  display: block;
  margin: auto;
  margin-top: 60px;
  width: 315px;
}

.footer {
  padding: 40px 0;
  background: #f6f6f6;
}

.footer__wrapper {
  display: flex;
  align-items: center;
}

.footer__logo {
  width: 205px;
  margin-right: 50px;
}

.footer__link {
  font-size: 16px;
  line-height: 23px;
  color: #000000;
  margin-right: 50px;
}

.social__links {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.social__link {
  margin-left: 20px;
  text-decoration: none;
}

.features {
  padding: 100px 0 202px;
}

.features__wrapper {
  display: flex;
  margin: -15px;
}

.features__card {
  max-width: 270px;
  background: #fff;
  border: 1px solid #e9e9e9;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 15px;
}

.feature__img {
  height: 60px;
  width: 60px;
  margin: 30px 0 35px;
}

.features__title {
  width: 158px;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  margin: 0 0 13px;
}

.features__description {
  font-size: 14px;
  line-height: 22px;
  color: #49494f;
  margin: 0 24px 25px;
}
